@mixin font ($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;  
  line-height: $height;
}
@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}
@mixin rows ($height) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: space-around;
  >* {
    flex-basis: $height;
    @include media-tablet {
      margin-bottom: 30px;
    }
  }
  @include media-tablet {
    justify-content: unset;
  }
  @include media-mobile--big {
    justify-content: space-around;
    align-items: baseline;
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) {@content;}
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {@content;}
}

@mixin media-mobile--big {
  @media (max-width: $mobile-big-width) {@content;}
}

@mixin media-mobile--small {
  @media (max-width: $mobile-small-width) {@content;}
}