@mixin font ($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;  
  line-height: $height;
}
@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}
@mixin rows ($height) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: space-around;
  align-items: center;
  >* {
    flex-basis: $height;
  }
}