// colors
$color-brand: #14B45C;
$color-background: #ffffff;
$color-dark-heading: #1C1F28;
$color-light-heading: #ffffff;
$color-text: #A1A4AC;
$color-mark-active: #FEB062;
$color-mark: #A1A4AC;
$color-download-links: #000000;
$color-arrow: #323643;
$color-icon-fill: #DADADA;

// brake points
$content-width: 1410px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;