// colors
$color-brand: #14B45C;
$color-brand-light: #2ADA7A;
$color-light: #ffffff;
$color-normal: #A1A4AC;
$color-dark-heading: #1C1F28;
$color-light-heading: #ffffff;
$color-text: #A1A4AC;
$color-mark-active: #FEB062;
$color-mark: #A1A4AC;
$color-download-links: #000000;
$color-arrow: #323643;
$color-icon-fill: #DADADA;

// brake points
$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px; //iPhone 6/7/8 Plus
$mobile-small-width: 320px; //iPhone 5/SE