.benefits {
  background: url(../src/img/backgrounds/background_benefits.svg) 100% 100% no-repeat;
  background-size: cover;
}
.benefits__wrapper {
  margin: 100px auto 260px auto;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit__img-wrapper {
  width: 100%;
  height: auto;
}
.benefit__image {
  max-width: 100%;
  @extend %transition;
  &:hover {
    transform: scale(1.1); 
  }
}
.benefits__content {
  margin-bottom: 100px;
}
.benefit-path {
  @extend %transition;
}
.benefit-svg {
  cursor: pointer;
  &:hover {
    .benefit-path {
      fill: $color-brand;
    }
  }
}
