.plans {
  background: url(../src/img/backgrounds/background_plans.svg) 100% 100% no-repeat;
  background-size: cover;
}
.plans__buttons {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 40px 0px;
}
.plans__description {
  margin-bottom: 80px;
}
.plans__title, .plans__text {
  margin: auto;
  text-align: center;  
}
.plans__title {
  margin-bottom: 20px;
}
.plan__img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.plan__image {
  max-width: 120%;
}
