.plans {
  background: url(../src/img/backgrounds/background_plans.svg) no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.plans__wrapper {
  margin-bottom: 160px;
}
.plans__buttons {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 40px 0px;  
  @include media-mobile--big {
    padding-bottom: 40px;
  }  
}
.plans__description {
  margin-bottom: 80px;
  @include media-mobile--big {
    margin-bottom: 40px;
  }
}
.plans__title, .plans__text, .plan__text {  
  text-align: center;  
}
.plans__title {
  margin-bottom: 20px;
}
.plans__text {
  padding: 0 20px;
}
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media-mobile--big {
    margin-bottom: 30px;
  }
}
.plan__title {
  margin-bottom: 10px;
}
.plan__text {
  @include media-mobile--big {
    padding: 0 20px;
  }
}
.plan__img-wrapper {
  margin: 0 0 30px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 22px 22px 0 0;
}
.plan__image {
  max-width: 120%;
}
.plans__buttons {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: max-content;
}
.plans__content {
  margin: 0 0 60px 0;
}