.promo {
  background: url(../src/img/backgrounds/background-promo.svg) 100% 100% no-repeat;
  background-size: cover;
}
.promo-content {
  padding: 11px 0px 40px 0px;
  color: $color-light;
  @include media-mobile--small {
    padding-top: 0px;
  }
}
.promo-content__wrapper {
  display: flex;
  padding: 30px 0px 0px 0px;
  @include media-mobile--small {
    flex-direction: column-reverse;    
  }
}
.promo-images {
  height: 821.63px;
  width: 705.65px;  
  margin: 60px 0px 0px 0px;
  @include media-tablet {
    height: 576.6px;
    width: max-content;   
  }
  @include media-mobile--small {
    height: 576.6px;
    width: max-content;
    margin: 20px 0 0 0;
  }
}
.promo-images__wrapper {
  display: inline-block;
  position: relative;
  width: max-content;
  height: auto;
  @include media-mobile--small {
    position: unset;
  }
}
.promo-image__wrapper {
  position: absolute;
  height: 701.63px;
  width: 340.65px;    
  @include media-tablet {
    height: 526.6px;
    width: 272.5px;
  }
  @include media-mobile--small {
    height: 526.6px;
    width: 272.5px;
    position: unset;
  }
}
.promo-image {  
  max-width: 100%;
  height: auto;  
  @extend %transition;
  &:hover {
    transform: scale(1.1); 
  }
}
.promo-image_front {
  z-index: 30;
  left: 200px;
  top: -60px;
  @include media-tablet {
    left: 100px; 
  }
}
.promo-image_back {
  z-index: 1;
  left: 40px;
  @include media-tablet {
    left: 0px;
  }
  @include media-mobile--small {
    display: none;    
  }
}
.promo__description {
  padding: 150px 10px 0px 10px;
  @include media-tablet {
    padding: 50px 0 0 400px;
  }
  @include media-mobile--small {
    text-align: center;
    padding: 30px 0;
  }
}
.promo__title {
  margin-bottom: 30px;
  @include media-mobile--small {
    margin-bottom: 40px;
  }
}
.promo__text {
  color: $color-normal;
  margin-bottom: 40px;
}
.promo__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  height: 90px;
  margin: 40px 40px 0px 0px;
  @include media-tablet {
    flex-direction: column;    
  }
  @include media-mobile--small {
    margin-bottom: 40px;
    height: 130px;
  }
}