.promo {
  background: url(../src/img/backgrounds/background-promo.svg) 100% 100% no-repeat;
  background-size: cover;
}
.promo-content {
  padding: 11px 0px 0px 0px;
  color: $color-light;
}
.promo-content__wrapper {
  display: flex;
  padding: 30px 0px 0px 0px;
}
.promo-images {
  height: 821.63px;
  width: 540.65px;
  margin: 60px 0px 0px 0px;
  @include media-tablet {
    width: calc(540.65px - 540.65px * 0.2);
    height: calc(821.63px - 821.63px * 0.1);    
  }
}
.promo-images__wrapper {
  display: inline-block;
  position: relative;  
  height: 821.63px;
  width: 540.65px;
  @include media-tablet {
    width: calc(540.65px - 540.65px * 0.2);
    height: calc(821.63px - 821.63px * 0.2);
  }
}
.promo-image__wrapper {
  position: absolute;
  height: 701.63px;
  width: 340.65px;
  @include media-tablet {
    width: calc(340.65px - 340.65px * 0.2);
    height: calc(701.63px - 701.63px * 0.2);
  }
}
.promo-image {  
  height: 100%;
  width: 100%;  
  @extend %transition;
  &:hover {
    transform: scale(1.1); 
  }
  @include media-tablet {
    width: 80%;
    height: 80%;
  }
}
.promo-image_front {
  z-index: 30;
  left: 200px;
  top: -60px;
}
.promo-image_back {
  z-index: 1;
  left: 40px;  
}
.promo__description {
  padding: 150px 10px 0px 10px;
  @include media-tablet {
    padding-top: 50px;
  }
}
.promo__title {
  margin: 0 0 30px 0;
}
.promo__text {
  color: $color-normal;
  padding: 0px 40px 0px 0px;
}
.promo__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  height: 90px;
  margin: 40px 40px 0px 0px;
  @include media-tablet {
    flex-direction: column;    
  }
}