* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Work Sans', 'Open Sans', 'Verdana', sans-serif;
  @include font (normal, normal, 1.4rem, 1.6rem); 
}
h1 {
  @include font (normal, 300, 4rem, 5rem);
}
h2 {
  @include font (normal, normal, 3.4rem, 4rem);
}
h3 {
  @include font (normal, normal, 2.4rem, 2.8rem);
}
a {
  text-decoration: none;
  color: inherit;
}