.button {
  padding: 10px 30px 9px 30px;
  border: none;
  font-family: 'Work Sans', 'Open Sans', 'Verdana', sans-serif;
  @include font (normal, normal, 1.4rem, 1.6rem);
  cursor: pointer;    
}
.button_colored {
  background: $color-brand;
  border-radius: 10px;
  color: $color-light;
  @extend %transition;
  &:hover {
    background: $color-brand-light;
    color: $color-dark-heading;
    transform: scale(1.1);
  }
}
.button_link {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  @extend %transition;
  &:hover {
    transform: scale(1.1);
  }
}
.button_link__text {
  margin-left: 10px;
}