.icon {
  cursor: pointer;
  display: inline-block;
}
.icon_play {
  background-image: url('../src/img/icons/icon-play.svg');
  width: 30px;
  height: 30px;
}
.icon_SuperSecured {
  background-image: url('../src/img/icons/icon_SuperSecured.svg');
  width: 70px;
  height: 80px;
}
.icon_DetailedAnalytics {
  background-image: url('../src/img/icons/icon_DetailedAnalytics.svg');
  width: 77px;
  height: 80px;
}
.icon_ForAnyBusiness {
  background-image: url('../src/img/icons/icon_ForAnyBusiness.svg');
  width: 80px;
  height: 80px;
}
.icon_cart, .icon_person, .icon_analytics, .icon_intelligent {
  width: 60px;
  height: 60px;
}
.icon_GooglePlay {
  background-image: url('../src/img/icons/icon_GooglePlay.svg');
  width: 135px;
  height: 40px;
  @include media-tablet {
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(135px - 135px * 0.1);
    height: calc(40px - 40px * 0.1);
  }
}
.icon_AppStore {
  background-image: url('../src/img/icons/icon_AppStore.svg');
  width: 119px;
  height: 40px;
  @include media-tablet {
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(119px - 119px * 0.1);
    height: calc(40px - 40px * 0.1);
  }
}