.icon {
  cursor: pointer;
  display: inline-block;
}
.icon_play {
  background-image: url('../src/img/icons/icon-play.svg');
  width: 30px;
  height: 30px;
}
.icon_SuperSecured {
  background-image: url('../src/img/icons/icon_SuperSecured.svg');
  width: 30px;
  height: 30px;
}