.icon {
  cursor: pointer;
  display: inline-block;
}
.icon_play {
  background-image: url('../src/img/icons/icon-play.svg');
  width: 30px;
  height: 30px;
}
.icon_SuperSecured {
  background-image: url('../src/img/icons/icon_SuperSecured.svg');
  width: 70px;
  height: 80px;
}
.icon_DetailedAnalytics {
  background-image: url('../src/img/icons/icon_DetailedAnalytics.svg');
  width: 70px;
  height: 80px;
}
.icon_ForAnyBusiness {
  background-image: url('../src/img/icons/icon_ForAnyBusiness.svg');
  width: 70px;
  height: 80px;
}
.icon_cart, .icon_person, .icon_analytics, .icon_intelligent {
  width: 60px;
  height: 60px;
}
.icon_GooglePlay {
  background-image: url('../src/img/icons/icon_GooglePlay.svg');
  width: 135px;
  height: 40px;
}
.icon_AppStore {
  background-image: url('../src/img/icons/icon_AppStore.svg');
  width: 119px;
  height: 40px;
}