.logo {
  display: inline-flex;
  @include media-tablet {    
    flex-grow: 3;
    justify-content: center;
  }
}
.logo-object {
  width: 148px;
  height: 40px;
}
.logo-path {
  @extend %transition;
}
.logo-svg {
  cursor: pointer;
  &:hover {
    .logo-path {
      fill: $color-brand;
    }
  }
}