.logo {
  display: flex;
}
.logo-object {
  width: 148px;
  height: 40px;
}
.logo-path {
  @extend %transition;
}
.logo-svg {
  cursor: pointer;
  &:hover {
    .logo-path {
      fill: $color-brand;
    }
  }
}