.mark {
  display: inline-block;
}
.mark_colored {
  background-image: url('../src/img/download/mark_active.svg');
  width: 20px;
  height: 20px;
}
.mark_colorless {
  background-image: url('../src/img/download/mark_inactive.svg');
  width: 20px;
  height: 20px;
}