.promo-content {
  padding: 11px 0px 0px 0px;
  color: $color-light;
}
.promo-content__wrapper {
  display: flex;
  padding: 30px 0px 0px 0px;
}
.promo__text {
  color: $color-normal;
}
.promo-images {
  height: 821.63px;
  width: 540.65px;
  margin: 60px 0px 0px 0px;
}
.promo-images__wrapper {
  display: inline-block;
  position: relative;
  height: 821.63px;
  width: 540.65px;  
}
.promo-image {  
  height: 100%;
  width: 100%;  
  @extend %transition;
}
.promo-image:hover {
  transform: scale(1.1); 
}
.promo-image__wrapper {
  position: absolute;
  height: 701.63px;
  width: 340.65px;
}
.promo-image_front {
  z-index: 30;
  left: 200px;
  top: -60px;
}
.promo-image_back {
  z-index: 1;
  left: 40px;  
}
.promo__description {
  padding: 150px 0px 0px 10px;
}