.wrapper {
  max-width: $content-width;  
  margin: 0 auto 140px auto; 
  @include media-tablet {
    margin: 0 45px 40px 45px;
  }
  @include media-mobile--small {
    margin: 0 20px 20px 20px;
  }
}
.footer__wrapper {
  margin: 0 auto;
  @include media-tablet {
    margin: 200px 45px 0 45px;
  }
  @include media-mobile--small {
    margin: 0 20px;
  }
}